main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria (repete) 2 colunas com o tamanho de 1 área flexível */
  gap: 20px; /* Distancia as colunas em 20 pixels, tanto na horizontal como na vertical. row-gap para somente linha (horizontal) ou column-gap para somente coluna (vertical) */
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
